.Widget {
  border: 1px solid #333333;
  border-radius: 3px;
  text-align: center;
  background-color: white;
  width: auto;
  height: auto;
}

header {
  line-height: 1.4;
  background-color: #333333;    
  height: 100%;
}

header h4 {
  color: white;
  border: 0;
  margin: 0;
  padding: 5px;
}

.Number {
  font-size: 20px;
  background-color: white;
  color: black;
  text-align: center;
  border: none;
  border-radius: 3px;
  display: border-box;
  padding: 25px;
}

.Slot {
  padding: 20px;
  text-align: center;
  border: none;
}

