.Search {
  margin: 5px;
  font: inherit;
  padding: 6px, 10px;
  display: block;
  width: 35%;
  box-sizing: border-box;
  font-size: 17px;
  padding-left: 6px;
}

.Search:hover {
  border: 1.5px solid lightskyblue;
}

.Search:focus {
  border: 1.5px solid lightskyblue;
}
