.Container {
  display: grid;
  grid-gap: 15px;
  gap: 15px;
  /*grid-template-columns: repeat(4, 80px);
  grid-template-rows: repeat(3,100px);*/
  grid-template-rows: 1fr min-content; 
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr))
  /* grid-template-columns: 1fr 1fr 1fr 1fr 1fr; */
}
  
.Logo img {
  width: 100%;
  height: 100%;
}

.one {
  grid-column: auto / span 1;
  grid-row: auto / span 1;
}

.two { 
  grid-column: auto / span 1;
  grid-row: auto / span 1;
}

.three {
  grid-column: auto / span 1;
  grid-row: auto / span 1;
}

.four {
  grid-column: auto / span 1;
  grid-row: auto / span 2;
}

.five {
  grid-column: auto / span 4;
  grid-row: auto / span 4;
}

.six {
  grid-column: auto / span 1;
  grid-row: auto / span 1;
}

span {
  text-align: center;
}

.Icon {
  font-size: 40px;
}

