.wrapper {
  display: grid;
  grid-gap: 15px;
  gap: 15px;
  grid-template-rows: 1fr min-content; 
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}
  
.one {
  grid-column: auto / span 1;
  grid-row: auto / span 1;
}

.two {
  grid-column: auto / span 2;
  grid-row: auto / span 2;
}

.three {
  grid-column: auto / span 3;
  grid-row: auto / span 3;
}

.four {
  grid-column: auto / span 4;
  grid-row: auto / span 4;
}

.five {
  grid-column: 1 / 3;
  grid-row: 2;
}
.six {
  grid-column: 3;
  grid-row: 4;
}

span {
  text-align: center;
}

.Icon {
  font-size: 40px;
}

