.wrapper {
  display: grid;
  grid-gap: 15px;
  gap: 15x;
  /*grid-template-columns: repeat(4, 80px);
    grid-template-rows: repeat(3,100px);*/
  /* grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));*/
  grid-template-rows: 1fr min-content; 
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
}

/* repeat(auto-fill, minmax(200px, 1fr)) */

.Logo img {
  width: 100%;
  height: 100%;
}

.one {
  grid-column: auto / span 1;
  grid-row: auto / span 1;
}

.two {
  grid-column: auto / span 2;
  grid-row: auto / span 2;
}

.three {
  grid-column: auto / span 3;
  grid-row: auto / span 3;
}

.four {
  grid-column: auto / span 4;
  grid-row: auto / span 4;
}

.five {
  grid-column: 1 / 3;
  grid-row: 2;
}
.six {
  grid-column: 3;
  grid-row: 4;
}

.Icon {
  font-size: 40px;
}

/* 
.wrapper {
  display: grid;
  grid-gap: 15px;
  gap: 15x;
  /*grid-template-columns: repeat(4, 80px);
    grid-template-rows: repeat(3,100px);*/
  /* grid-template-columns: repeat(4, 1fr);
}

.Logo img {
  width: 100%;
  height: 100%;
}

.one {
  grid-column: 1;
  grid-row: 1;
}

.two {
  grid-column: 2;
  grid-row: 1;
}

.three {
  grid-column: 3;
  grid-row: 1;
}
.four {
  grid-column: 4;
  grid-row: 1;
}
.five {
  grid-column: 1 / 3;
  grid-row: 2;
}
.six {
  grid-column: 3;
  grid-row: 4;
} */
 
