.wrapper {
  display: grid;
  grid-gap: 15px;
  gap: 15x;
  grid-template-rows: 1fr min-content; 
  grid-template-columns: repeat(auto-fill, minmax(175px, 1fr));
}

.one {
  grid-column: auto / span 1;
  grid-row: auto / span 1;
}

.two {
  grid-column: auto / span 2;
  grid-row: auto / span 2;
}

.three {
  grid-column: auto / span 3;
  grid-row: auto / span 3;
}

.four {
  grid-column: auto / span 4;
  grid-row: auto / span 4;
}

.five {
  grid-column: auto / span 5;
  grid-row: auto / span 3;
}

.six {
  grid-column: auto / span 6;
  grid-row: auto / span 3;
}

.Icon {
  font-size: 40px;
}

p {
  font-size: 16px;
}

.Button .open {
  background-color: green;
}

.Button .closed {
  background-color: red;
}