table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
}

thead th {
  font-size: 14px;
  background-color: #68a7ca;
  border-bottom: 1px solid #333333;
}

thead th:nth-child(1) {
  width: 5%;
}

thead th:nth-child(2) {
  width: 10%;
}

thead th:nth-child(3) {
  width: 10%;
}

thead th:nth-child(4) {
  width: 10%;
}

thead th:nth-child(5) {
  width: 10%;
}

thead th:nth-child(6) {
  width: 15%;
}

thead th:nth-child(7) {
  width: 15%;
}

thead th:nth-child(8) {
  width: 25%;
}

th,
td {
  /* width: 100%; */
  font-size: 14px;
  padding: 5px;
}

tbody tr:nth-child(odd) {
  background-color: #d8e9f3;
}

tbody tr:nth-child(even) {
  background-color: white;
}

tbody tr:hover {
  background-color: #b2d3e6;
}
