.Button {
  display: block;
  text-align: right;
  padding: 5px 10px;
}

h3 {
  display: block;
  text-align: center;
}

input[type="date"] {
  color:grey;
  padding-left: 6px;   
}

[type="date"]::-webkit-inner-spin-button {
  display: none;
}